---
layout: row_centered
title: 教学资源下载 -《人工智能算法——Python语言版》在线编程平台和案例库
permalink: /download/
---

<div class="page-header">
    <h1>教学资源下载</h1>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">课件下载</h3>
    </div>
    <div class="panel-body">
        <ul>
            {% for ppt in site.data.ppt_list %}

            {% assign chapter_name = ppt.chapter_id | append: '-' | append: ppt.chapter_name %}
            {% assign ppt_file_name = chapter_name | append: '.pptx' %}


            {% if ppt.url %}
                {% assign link_class = 'btn' %}
            {% else %}
                {% assign link_class = 'btn disabled' %}
            {% endif %}


            <li>
                <a class="{{ link_class }}" href="{{ ppt.url }}" download="{{ ppt_file_name }}">{{ chapter_name }}</a>
            </li>

            {% endfor %}
        </ul>
    </div>
</div>