---
---

<!DOCTYPE html>
<html>

<head>
    <title>《人工智能算法——Python语言版》在线编程平台和案例库</title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
    {{ content }}

    <footer class="footer">
        <div class="container">
            <address>
                作者：作者：胡矿，岳昆<br>
                邮箱：<a href="mailto:hukuang@ynu.edu.cn">hukuang@ynu.edu.cn</a>，<a
                    href="mailto:kyue@ynu.edu.cn">kyue@ynu.edu.cn</a><br>
                电话：0871-65933093<br>
                出版社：清华大学出版社<br>
            </address>
        </div>
    </footer>
</body>

</html>