---
layout: default
title: 基于Gitlab-CE和Gitpod的在线编程学习平台
---

<div class="container">
  <div class="row">

    <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
      &nbsp;
    </div>

    <div class="col-xs-12 col-sm-12 col-md-10 col-lg-8">

      {{ content }}

      <p class="text-center">
        <a href="/">
          <span class="glyphicon glyphicon-home">返回首页</span>
        </a>
      </p>

      <p>&nbsp;</p>

      <footer class="footer">
        {% include footer.html %}
      </footer>
    </div>
    <!-- /col-xs-12 col-sm-12 col-md-10 col-lg-8 -->

    <div class="hidden-xs hidden-sm col-md-1 col-lg-2">
      &nbsp;
    </div>

  </div>
  <!-- /row -->
</div>
<!-- /container -->